#topbar {
  background: #ECECEC;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  // box-shadow: 0px 0px 6px 0px #000000;
  // font-family: sans-serif;
  font-weight: 300;

  .contact-info {
    line-height: 28px;
    font-size: 13px;
    color: #333e48;
    a {
      line-height: 28px;
      font-size: 13px;
      color: #333e48;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #FFC301;
        list-style: none;
        text-decoration: none;
      }
    }

    i {
      color: #FFC301;
      padding: 0 10px;
      font-size: 11px;
    }

    .icofont-phone {
      padding-left: 20px;
      margin-left: 10px;
    }
  }

  .social-links {
    a {
      // font-weight: 400;
      line-height: 28px;
      font-size: 13px;
      color: #333e48;
      padding: 0px 12px;
      display: inline-block;
      transition: 0.5s;
      margin: 0;
      &:hover {
        color: #FFC301;
        list-style: none;
        text-decoration: none;
      }
      &:hover i {
        color: #FFC301;
      }
      i {
        color: #333e48;
        transition: 0.5s;
        padding: 0 8px;
        margin: 0;
      }
    }
  }
  [class^="flaticon-"]:before,
  [class*=" flaticon-"]:before,
  [class^="flaticon-"]:after,
  [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 12px;
    font-style: normal;
    margin-left: 0px;
  }
}
