section.project-tab {
  div.container {
    // .col-12 {
    // .card {
    // .card-body {
    .tab-content {
      .tab-pane {
        form.form {
          .form-group {
            input {
              //   margin-bottom: 10px;
              font-size: 15px;
              letter-spacing: 1px;
              padding: 20px 13px;
              outline: none;
              // border: none;
              // border: 1px solid transparent;
              box-shadow: 0px 0px 3px 0px transparent;
              &:active,
              &:focus {
                border: 1px solid #FFC301;
              }
            }
            .input-group-append {
              outline: none;
              border: none;
              box-shadow: 0px 0px 3px 0px transparent;
            }
          }
        }
      }
      button.btn {
        padding: 12px 25px;
        letter-spacing: 1px;
        background: #FFC301;
        font-size: 16px;
        color: #fff;
        border: none;
        outline: none;
        border: 1px solid transparent;
        // margin: 10px;
        transition: 0.5s all;
        &:hover {
          background: #FFC301;
          transition: 0.5s all;
        }
        &:focus {
          outline: 0;
          border: none;
          border: 1px solid #FFC301;
        }
      }
    }
    // }
    // }
    // }
  }
}
