[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 18px;
  font-style: normal;
  margin-left: 0px !important;
  margin-right: 2px;
  padding: 0;
}
.list-loca-stores {
  b {
    font-size: 15px;
  }
  .address {
    font-size: 14px;
    padding-left: 20px;
    font-weight: 300;
  }
}
